---
description: "Tapchamps deep learning technology targets users based on their behavior and guarantees continuous app engagement through special rewarded experiences."
---
{% extends "_includes/default.njk" %}
{% block title %}TapChamps | Privacy Policy{% endblock %}
{% block content %}
<header>
    <div class="section">
        {% include "navigation.njk" %}
        <div class="max-w-xl mx-auto lg:mx-0 lg:mr-auto text-justify pb-36 -z-10">
            <h2 class="my-20">Privacy Policy</h2>
            <p>This Privacy Policy (together with our terms of use, which are available at <a href="https://tapchamps.com/terms" rel="noopener noreferrer" target="_blank">tapchamps.com/terms</a>) governs the manner in which Tapchamps (&ldquo;Tapchamps&rdquo;) collects, uses, maintains and discloses personal data collected from users of the <a href="https://tapchamps.com/" rel="noopener noreferrer" target="_blank">tapchamps.com</a> website and app (the &ldquo;Site&rdquo;) as well as all websites and apps working directly or indirectly with Tapchamps. This privacy policy applies to the Site and all products and services offered by Tapchamps. Please read this policy carefully to understand the views and practices of Tapchamps regarding your personal data and how Tapchamps will treat it.</p>
            <p><br></p>
            <h3>Personal Data on website</h3>
            <p><br></p>
            <p>Tapchamps fully respects your right to privacy and will collect personal data from you only if you voluntarily submit such information to us. Personal data that we collect about you may include your name, email address, gender, date of birth, telephone number, instant messenger, social account, address and bank details. Any personal data which you volunteer to Tapchamps will be treated strictly in accordance with the Data Protection Acts 1988 and 2003. You may refuse to supply personal data to us, except that it may prevent you from engaging in certain Site related activities.</p>
            <p><br></p>
            <h3>Non-personally identifiable information</h3>
            <p><br></p>
            <p>We may collect non-personally identifiable information about you whenever you interact with our Site. Non-personally identifiable information may include:</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the browser name</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; aggregated usage information;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the session ID;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the operating system,&nbsp;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the Internet service providers utilized,&nbsp;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; device information such as your International mobile equipment identity (&ldquo;IMEI&rdquo;), IP address or Android ID, Advertising ID or IDFA and other similar information (together, the &ldquo;ID&rdquo;)</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the time and date you access the mobile app;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the name and type of apps on your phone;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the game achievements you unlock;</p>
            <p>&middot; &nbsp; &nbsp; &nbsp; the device information and location data;.</p>
            <p><br></p>
            <p>Please note that, although the IDs are not considered to be personal information in every jurisdictions, some jurisdiction (such as EU) consider those IDs as personal information. We hence treat IDs as personal information.</p>
            <p><br></p>
            <h3>Web browser cookies</h3>
            <p><br></p>
            <p>Our Site may use &quot;cookies&quot; to distinguish you from other users of the Site and to enhance your experience when using the Site. Cookies may be placed by your browser on your hard drive for record-keeping purposes and sometimes to track information about your use of the Site. You may choose to set your web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of the Site may not function properly.</p>
            <p><br></p>
            <h3>How we use collected information</h3>
            <p><br></p>
            <p>Tapchamps may collect and use Users personal information on the site for the following purposes:</p>
            <ul>
                <li><em>- To improve customer service</em>. To help us respond to your customer service requests and support needs more efficiently. It also helps us to administer the Site for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes.</li>
                <li><em>To personalize user experience.&nbsp;</em>We may use information in the aggregate to understand how our users as a group use the services and resources provided on our Site.</li>
                <li><em>Safety.&nbsp;</em>As part of our efforts to keep the Site safe and secure and to avoid fraudulent use.</li>
                <li><em>To perform internal operations</em> such as preventing fraud and abuse of our Services, troubleshooting operational issues; to conduct data analysis; and to monitor usage and activity trends;</li>
                <li><em>Recommend new games</em> based on the preferences of the Users;</li>
                <li><em>To send periodic emails.</em>If you decide to opt-in to our mailing list, you will receive emails that may include company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or you may contact us via our Site at <a href="mailto:support@tapchamps.com" rel="noopener noreferrer" target="_blank">support@tapchamps.com</a></li>
            </ul>
            <p><br></p>
            <h3>How we protect your information</h3>
            <p><br></p>
            <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
            <p><br></p>
            <p>Sensitive and private data exchange between the Site and your browser happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>
            <p><br></p>
            <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our Site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</p>
            <p><br></p>
            <h3>Sharing your personal information</h3>
            <p><br></p>
            <p>We may disclose your personal data to third parties:</p>
            <ul>
                <li>Where we engage trusted third parties to provide services in connection with the Site or our business, including sending out newsletters or surveys on our behalf.</li>
                <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
                <li>If Tapchamps or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
                <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Website terms of use (<a href="https://tapchamps.com/terms" rel="noopener noreferrer" target="_blank">tapchamps.com/terms</a>) and other agreements, or to protect the rights, property, or safety of Tapchamps, our customers or others.</li>
            </ul>
            <p><br></p>
            <p>We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 7 and 8 of the Companies Act 2014.</p>
            <p><br></p>
            <h3>Advertising</h3>
            <p><br></p>
            <p>Ads appearing on our network may be delivered to you by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement and to compile non personally identifiable information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers.</p>
            <p><br></p>
            <p>In order to prevent fraud and attribute clicks and conversions, we may collect certain device information including the following:</p>
            <ul>
                <li>Name and properties of mobile applications/websites through which a consumer interacts with the Services;</li>
                <li>Country;</li>
                <li>IP Address;</li>
                <li>Internet browser user-agent used to access the Services; and</li>
                <li>Identifier for advertisers (IFA).</li>
            </ul>
            <p><br></p>
            <p>Right to be forgotten and withdrawal of consent to collect personal data:</p>
            <p><br></p>
            <p>You may request that your Personal data collected by Tapchamps be deleted at any time. Tapchamps agrees to permanently delete such data within a reasonable delay upon reception of a written request sent to <a href="mailto:privacy@tapchamps.com" target="_blank">privacy@tapchamps.com</a></p>
            <p><br></p>
            <p>You may also withdraw your consent to the collection of Personal data at any time by sending a written request to <a href="mailto:privacy@tapchamps.com" target="_blank">privacy@tapchamps.com</a>. Upon receiving notice that you have revoked your consent, we will stop using your Personal Information within a reasonable time.&nbsp;</p>
            <p><br></p>
            <p>Please note that by choosing to delete your personal data or withdraw your consent to the collection of Personal data, your personal information together with any loyalty points that you have earned will be deleted. This is not recommended in case you want to temporarily stop using Tapchamps. An email requesting your confirmation will be sent to the email you registered with before we delete your account.</p>
            <p><br></p>
            <h3>Children</h3>
            <p><br></p>
            <p>We do not knowingly collect personal information from children under the age of 16 through the Advertising Services and the Site.</p>
            <p><br></p>
            <p>We are not responsible for the content or privacy practices of other websites or our advertising partners. Please check their privacy policies before you submit any personal data to such websites or advertising partners.</p>
            <p><br></p>
            <h3>Your Access and Amendment Rights</h3>
            <p><br></p>
            <p>You have the right, subject to certain exemptions, to obtain a copy of any personal data which we hold about you (for which we may charge you a small fee of &euro;6.35) and to have inaccuracies in the information corrected and to request that we restrict or block the processing of your personal data. If you wish to avail of any of these rights, please contact our data protection officer at <a href="mailto:dataprotection@tapchamps.com" rel="noopener noreferrer" target="_blank">dataprotection@tapchamps.<wbr>com</a>.</p>
            <p><br></p>
            <h3>Changes to this privacy policy</h3>
            <p><br></p>
            <p>Tapchamps has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site and revise the updated date at the bottom of this page. We encourage you to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
            <p>Your continued use of the Site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
            <p><br></p>
            <h3>Your acceptance of these terms</h3>
            <p><br></p>
            <p>By using this Site, you signify your acceptance of and consent to the practices described in this policy and terms of use (<a href="https://tapchamps.com/terms" rel="noopener noreferrer" target="_blank">tapchamps.com/terms</a>). If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
                <p><br></p>
            <h3>Contacting us</h3>
            <p><br></p>
            <p>If you have any questions, comments or requests in relation to this Privacy Policy, the practices of the Site, or your dealings with the Site, please contact us at <a href="mailto:privacy@tapchamps.com" target="_blank">privacy@tapchamps.com</a></p>
            <p>6-9 Trinity Street, Dublin 2, Ireland&nbsp;</p>
            <p><br></p>
            <p>This document was last updated on March 15th 2020.</p>
        </div>
        <div class="hidden lg:block fixed z-0 right-32 h-screen">
            <div class="flex flex-col justify-center items-center absolute right-0 m-auto bottom-0">
                <span class="w-full h-screen rounded-full bg-gradient-to-t from-orange to-blue dark:from-beige dark:to-beiger absolute aspect-square rotate-45 gradient-bg opacity-0"></span>
                <div class="gift-cards">
                    <div class="w-[100px] sm:w-[100px] md:w-[140px] lg:w-[160px] translate-x-1 md:translate-x-0 translate-y-3 md:translate-y-8 z-20">
                        {% image "./assets/card-amazon.png", "TapChamps Gift Card Amazon", [160*2], ['webp'], 'false', 'no-select opacity-0' %}
                    </div>
                    <div class="w-[100px] sm:w-[100px] md:w-[140px] lg:w-[160px] translate-x-2 md:translate-x-4 z-10">
                        {% image "./assets/card-play-store.png", "TapChamps Gift Google Play Store", [160*2], ['webp'], 'false', 'no-select opacity-0' %}
                    </div>
                    <div class="w-[100px] sm:w-[100px] md:w-[140px] lg:w-[160px] translate-x-1 -translate-y-4 md:-translate-y-10 z-0">
                        {% image "./assets/card-paypal.png", "TapChamps Gift Paypal", [160*2], ['webp'], 'false', 'no-select opacity-0' %}
                    </div>
                </div>
                <div class="hidden lg:block lg:w-[220px] -left-36 top-1/2 z-40 absolute mascot opacity-0">
                    {% image "./assets/mascot.png", "TapChamps Mascot", [220*2], ['webp'], 'false', 'no-select' %}
                </div>
                <div class="w-[200px] md:w-[250px] lg:w-[300px] xl:w-[375px] relative">
                    {% image "./assets/mobile-app.png", "TapChamps Mobile App", [375*2], ['webp'], 'false', 'no-select mobile-app opacity-0' %}
                </div>
                <div class="opacity-0 md:w-[150px] lg:w-[200px] absolute play-store-button">
                    <a href="{{ settings.playStoreLink }}" target="_blank">
                        {% image "./assets/play-store-btn.png", "TapChamps App play store button", [200*2], ['webp'], 'false', 'no-select [transform:rotateY(3deg)_rotateX(-20deg)_rotateZ(-1deg)_translateX(4px)_translateY(12px)]' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block js %}
    <script>window.subPageAnime = true;</script>
{% endblock %}